#file-dropzone  {
    display: block;
    width: 360px;
    margin: 0 auto 25px auto;
    padding: 35px;
    color: #8d9499;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.top-container {
    padding-left: 60px;
}

#deep-view-pic {
    width: 300px;
    height: 300px;
}

.progressBar {
    width: 400px;
    height: 30px;
    border: 1px solid #222;
    border-radius: 4px;
    background-color: #292929;
}
.progressBar div {
    height: 100%;
    color: #000;
    text-align: right;
    line-height: 30px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #f0f0f0;
}
